version: "3.9"

services:
  db:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: empresa
    ports:
      - "5432:5432"

  api:
    build: .
    container_name: fastapi_api
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql+psycopg://user:password@db:5432/empresa
      DEBUG: "True"
    ports:
      - "8000:8000"
